@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font - 500, 700 */
  --font: "Epilogue", sans-serif;

  /* Colors */
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 2rem;
}

.left-side {
  display: flex;
  width: 50%;
}

.right-side {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.left-side ul {
  list-style: none;
  display: flex;
}

.left-side li {
  margin: 2rem;
}

.right-side ul {
  list-style: none;
  display: flex;
}

.right-side li {
  margin: 2rem;
}
